<a href="https://colab.research.google.com/github/shoxruxmamitov/fayllar-va-malumotlar-ombor/blob/main/10_MA%CA%BCLUMOTLARGA_ISHLOV_BERISH_10_11_HTML_JSON_API_o%CA%BBqish.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Imgur](https://i.imgur.com/h4PPC71.png)
#**10-modul. Maʼlumotlarga ishlov berish. Fayllar va maʼlumotlar ombori**
#10.11. Veb sahifalardan oʻqish. JSON va API
**Bu vazifalarni bajargach, veb sahifalardan maʼlumot olish, JSON bilan ishlash va API soʻrovlarini yuborish koʻnikmalarini egallaysiz.**

#1-topshiriq
1. Pandas kutubxonasidan foydalanib, quyida berilgan link ichidan barcha jadvallarni o‘qing va roʻyxat shaklida saqlang.

Link 403 Forbidden (Manzil to'g'ri, lekin kirish taqiqlangan.) xatoligini bermasligi uchun, sahifani avval requests bilan yuklab, keyin pd.read_html() ga HTML matnini bering.

 * https://en.wikipedia.org/wiki/Fossil_fuel_exporters
2. Har bir jadvalning birinchi 1 qatorini ekranga chiqaring.

In [1]:
#javobni shu yerda yozing.
import requests
import pandas as pd

In [2]:
data = "https://en.wikipedia.org/wiki/Fossil_fuel_exporters"
df = {"User-Agent": "Mozilla/5.0"}
html = requests.get(data, headers=df).text
jadval = pd.read_html(html)

/tmp/ipython-input-1443593955.py:4: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  jadval = pd.read_html(html)

In [3]:
len(jadval)

7

#2-topshiriq
Yuqorida yaratilgan jadvallar roʻyxatidan eng uzunini `largest_data.csv` fayliga saqlang.

In [4]:
#javobni shu yerda yozing.
uzun_jadval = max(jadval, key=len)
uzun_jadval.to_csv("largest_data.csv")

#3-topshiriq
1. Quyidagi link orqali json maʼlumotni yuklab oling va uni climate_change_co2.json nomi bilan saqlang.
 * https://raw.githubusercontent.com/alishermutalov/praktikum-datasets/refs/heads/praktikum/json_data.json
2. Maʼlumotlar boshidan 5 ta qatorni ekranga chiqaring!

In [5]:
url = "https://raw.githubusercontent.com/alishermutalov/praktikum-datasets/refs/heads/praktikum/json_data.json"
#javobni shu yerda yozing.
climate_change_co2 = pd.read_json(url)
climate_change_co2.head()

,Year,Total,Gas Fuel,Liquid Fuel,Solid Fuel,Cement,Gas Flaring,Per Capita
0,2010,9167,1702,3114,3842,450,59,1.33
1,2009,8740,1585,3056,3620,413,66,1.28
2,2008,8783,1631,3122,3571,388,71,1.30
3,2007,8566,1572,3081,3464,382,68,1.28
4,2006,8370,1525,3089,3339,356,61,1.27

#4-topshiriq
1. Quyida berilgan linkga `get` soʻrovini yuborish orqali `json` maʼlumotlarini `posts.json` fayliga saqlang.
  * https://jsonplaceholder.typicode.com/posts/
2. Ushbu maʼlumotlarni dataframe koʻrinishida saqlang va tasodifiy 5 ta qatorni ekranga chiqaring.

In [6]:
url = "https://jsonplaceholder.typicode.com/posts/"
#javob
saqlash = pd.read_json(url).sample(5)

In [7]:
saqlash.to_json('posts.json', orient='records', indent=2, force_ascii=False)