<a href="https://colab.research.google.com/github/shoxruxmamitov/fayllar-va-malumotlar-ombor/blob/main/fayildan_oqish_va_fayildan_yozish_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import pandas as pd
import numpy as np

pandas kutubxonasi faillar bilan ishlidigan bir nechta funksialardan iborat

1 - read_csv ) vergul bilan ajratilgan jadval faillarni o'qish uchun

2 - read_table ) probel bo'sh katak bn ajratilgan jadval faillarni oqish uchun

3 - read_excel ) xls aksinch xlsx formatidagi Excel faillarni o'qish uchun

4 - read_clipboard ) ko'chirilgan xotiradagi jadvalni o'qish

5 - read_hdf ) HDF5 formatidagi fillarni o'qish

6 - read_html  ) HTML web sahifadagi barcha jadvallarni o'qish

7 - read_json ) JSON malumotlarni o'qish

8 - read_pickle ) pickle formatidagi faillarni oqish

9 - read_sql ) SQL queri dan qaitgan malumotlarni oqish

In [61]:
!wget https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/refs/heads/main/merc.csv
# !wget orqali githubdan anvarnarz praktikum faillaridan 'mers csv' failini kirgizdik kirgizdik

--2026-01-31 17:10:10--  https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/refs/heads/main/merc.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 728047 (711K) [text/plain]
Saving to: ‘merc.csv.2’

merc.csv.2          100%[===================>] 710.98K  --.-KB/s    in 0.04s

2026-01-31 17:10:10 (15.9 MB/s) - ‘merc.csv.2’ saved [728047/728047]

In [62]:
!git clone https://github.com/anvarnarz/praktikum_datasets
# !git clone funksiasi orqali  anvar narz praktikum datasets ini hamma failini google coolabga kochirib oldik

fatal: destination path 'praktikum_datasets' already exists and is not an empty directory.

In [63]:
df = pd.read_csv('merc.csv')
df.head() # mers.csv failini google kolabga download qilib oldik

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0

In [64]:
df2 = pd.read_csv("sample_data/california_housing_test.csv")
df2.head() # sample_data failining ichidan california_housing_test.csv failini google colabga download qilib oldik

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [65]:
error = pd.read_excel("praktikum_datasets/uzbekistan.xlsx", index_col=0)
error
# excel yordamida prakikum_daqtasets ichidan uzbekistan.xlsx failini download qilib oldik
# va ung index sifatida 0 - qatordagi bolinishi nomli ustunni qoib oldik

                               Maydoni (kv.km)  Aholisi
Boʻlinishi
Andijon viloyati                          4200  1899000
Buxoro viloyati                          39400  1384700
Fargʻona viloyati                         6800  2597000
Jizzax viloyati                          20500   910500
Xorazm viloyati                           6300  1200000
Namangan viloyati                         7900  1862000
Navoiy viloyati                         110800   767500
Qashqadaryo viloyati                     28400  2029000
Qoraqalpogʻiston Respublikasi           160000  1200000
Samarqand viloyati                       16400  2322000
Sirdaryo viloyati                         5100   648100
Surxondaryo viloyati                     20800  1676000
Toshkent viloyati                        15300  4450000

In [66]:
error = pd.read_excel("praktikum_datasets/uzbekistan.xlsx", index_col=0 , names = ['hudud', 'kvv*', 'xalq'])
error
# index ni 0 - ustunni orniga qodik va names = funksiasi orqali  ustunning nomlarini ozagartirib oldik

                                 kvv*     xalq
hudud
Andijon viloyati                 4200  1899000
Buxoro viloyati                 39400  1384700
Fargʻona viloyati                6800  2597000
Jizzax viloyati                 20500   910500
Xorazm viloyati                  6300  1200000
Namangan viloyati                7900  1862000
Navoiy viloyati                110800   767500
Qashqadaryo viloyati            28400  2029000
Qoraqalpogʻiston Respublikasi  160000  1200000
Samarqand viloyati              16400  2322000
Sirdaryo viloyati                5100   648100
Surxondaryo viloyati            20800  1676000
Toshkent viloyati               15300  4450000

In [67]:
pd.read_csv('praktikum_datasets/automobile_data.csv', index_col='index', nrows=15)
# (automobile_data.csv) failini download qilib oldik va 2 ta index bolganligi uchun bitta indexni
# index_col='index qilib bittasini qoldirdik va nrows = 15 funksiasi orqali tepadan 15 ta qatorni chiqarib oldik

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450
5,audi,sedan,99.8,177.3,ohc,five,110,19,15250
6,audi,wagon,105.8,192.7,ohc,five,110,19,18920
9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430
10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925
11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970
13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760
14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315
15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880
16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151
17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295

In [68]:
saqlash = pd.read_excel("praktikum_datasets/uzbekistan.xlsx", index_col=0)
saqlash

                               Maydoni (kv.km)  Aholisi
Boʻlinishi
Andijon viloyati                          4200  1899000
Buxoro viloyati                          39400  1384700
Fargʻona viloyati                         6800  2597000
Jizzax viloyati                          20500   910500
Xorazm viloyati                           6300  1200000
Namangan viloyati                         7900  1862000
Navoiy viloyati                         110800   767500
Qashqadaryo viloyati                     28400  2029000
Qoraqalpogʻiston Respublikasi           160000  1200000
Samarqand viloyati                       16400  2322000
Sirdaryo viloyati                         5100   648100
Surxondaryo viloyati                     20800  1676000
Toshkent viloyati                        15300  4450000

In [69]:
saqlash.to_csv('newuzb.csv')
#saqlash dataframeni newuzb.csv failini ochib unga saqlab oldik

In [70]:
obj = saqlash.Aholisi
obj # saqlash datafremidan Aholisi qimatini olib uni seriesga ozgartirib oldik

Boʻlinishi
Andijon viloyati                 1899000
Buxoro viloyati                  1384700
Fargʻona viloyati                2597000
Jizzax viloyati                   910500
Xorazm viloyati                  1200000
Namangan viloyati                1862000
Navoiy viloyati                   767500
Qashqadaryo viloyati             2029000
Qoraqalpogʻiston Respublikasi    1200000
Samarqand viloyati               2322000
Sirdaryo viloyati                 648100
Surxondaryo viloyati             1676000
Toshkent viloyati                4450000
Name: Aholisi, dtype: int64

In [71]:
obj.to_csv('uzbaholisi.csv')
# obj ozgaruvchini to_csv orqali uzbaholisi failiga download qilib oldik 'Aholisi' qimatni series qilib olgandik

failni Series korinishida chaqirish

In [72]:
data = pd.read_csv('uzbaholisi.csv', index_col=0)
series = data.squeeze()
print(series)

Boʻlinishi
Andijon viloyati                 1899000
Buxoro viloyati                  1384700
Fargʻona viloyati                2597000
Jizzax viloyati                   910500
Xorazm viloyati                  1200000
Namangan viloyati                1862000
Navoiy viloyati                   767500
Qashqadaryo viloyati             2029000
Qoraqalpogʻiston Respublikasi    1200000
Samarqand viloyati               2322000
Sirdaryo viloyati                 648100
Surxondaryo viloyati             1676000
Toshkent viloyati                4450000
Name: Aholisi, dtype: int64

boshqa failni saqlab olamiz

In [73]:
avto = pd.read_csv('praktikum_datasets/automobile_data.csv', index_col='index', nrows=15)
# avtomobile_data.csv ni chaqirib oldik va unga ishlov berdik

In [74]:
avto.to_excel('avto.xlsx', index=False, columns=['company', 'body-style', 'length'])
# avto dataframeni excel korinishida (avto.xlsx) nomi bn saqlab oldik va index=False orqali indexni ocbirish orqali va
# ozmizga kerakli bolgan qimatlani salqashni buyurdik

In [75]:
pd.read_excel('avto.xlsx', index_col=0)
# saqlb olgan failimizni chaqirib oldik va huddi saqlab lganimizdek 15 ta qator va biz hoxlagan 3 ta qimatni chiqarib berdi

              body-style  length
company
alfa-romero  convertible   168.8
alfa-romero  convertible   168.8
alfa-romero    hatchback   171.2
audi               sedan   176.6
audi               sedan   176.6
audi               sedan   177.3
audi               wagon   192.7
bmw                sedan   176.8
bmw                sedan   176.8
bmw                sedan   176.8
bmw                sedan   189.0
bmw                sedan   193.8
bmw                sedan   197.0
chevrolet      hatchback   141.1
chevrolet      hatchback   155.9

Boshqa fail chaqirib va saqlimiz

In [76]:
cars = pd.read_csv('praktikum_datasets/breast-cancer.csv', index_col='id', nrows=10)
cars
# praktikum dataset failidan breast cancer failini download qilib oldik va index raqamini ornida id ni qoib qodik
# nrows orqali 1 qatorni ham chiqarib oldik

,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
id,,,,,,,,,,,,,,,,,,,,,
842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678
843786,M,12.45,15.70,82.57,477.1,0.12780,0.17000,0.15780,0.08089,0.2087,...,15.47,23.75,103.40,741.6,0.1791,0.5249,0.5355,0.1741,0.3985,0.12440
844359,M,18.25,19.98,119.60,1040.0,0.09463,0.10900,0.11270,0.07400,0.1794,...,22.88,27.66,153.20,1606.0,0.1442,0.2576,0.3784,0.1932,0.3063,0.08368
84458202,M,13.71,20.83,90.20,577.9,0.11890,0.16450,0.09366,0.05985,0.2196,...,17.06,28.14,110.60,897.0,0.1654,0.3682,0.2678,0.1556,0.3196,0.11510
844981,M,13.00,21.82,87.50,519.8,0.12730,0.19320,0.18590,0.09353,0.2350,...,15.49,30.73,106.20,739.3,0.1703,0.5401,0.5390,0.2060,0.4378,0.10720
84501001,M,12.46,24.04,83.97,475.9,0.11860,0.23960,0.22730,0.08543,0.2030,...,15.09,40.68,97.65,711.4,0.1853,1.0580,1.1050,0.2210,0.4366,0.20750

In [77]:
cars.to_excel('drive/MyDrive/loiha.xlsx', index=False,  columns=['diagnosis', 'radius_mean', 'texture_mean'])
# dataframega loiha.xlsx deb nom berib oldik saqlab olishda index=False orqali indexmi ochirib saqlashni buirdik
# va columns orqali ozimizga kerakli bolgan qimatlatni saqlab olvik
# malumot uchun saqlashda drive failini ichidagi MyDrive ga loiha.xlsx deb nom berib saqlab oldik

In [78]:
pd.read_excel('drive/MyDrive/loiha.xlsx', index_col=0)
#  saqlab olgan loiha.xlsx ni pd.read_excel qilib chaqirib olvik va index_col=0 orqali 0 chi ustunni  index ni orniga qoib oldik

           radius_mean  texture_mean
diagnosis
M                17.99         10.38
M                20.57         17.77
M                19.69         21.25
M                11.42         20.38
M                20.29         14.34
M                12.45         15.70
M                18.25         19.98
M                13.71         20.83
M                13.00         21.82
M                12.46         24.04