<a href="https://colab.research.google.com/github/shoxruxmamitov/fayllar-va-malumotlar-ombor/blob/main/hdf5_formati.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
import pandas as pd

fayildan oqish

In [60]:
! wget https://github.com/anvarnarz/praktikum_datasets/blob/main/merc.csv

--2026-02-06 10:18:42--  https://github.com/anvarnarz/praktikum_datasets/blob/main/merc.csv
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘merc.csv.1’

merc.csv.1              [ <=>                ] 922.75K  --.-KB/s    in 0.01s

2026-02-06 10:18:43 (75.5 MB/s) - ‘merc.csv.1’ saved [944900]

In [61]:
! git clone https://github.com/anvarnarz/praktikum_datasets

fatal: destination path 'praktikum_datasets' already exists and is not an empty directory.

In [62]:
df = pd.read_csv('praktikum_datasets/merc.csv')
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0

In [63]:
pd.read_excel("praktikum_datasets/uzbekistan.xlsx", index_col=0, names = ['hudud', 'kvv*', 'aholi'])

                                 kvv*    aholi
hudud
Andijon viloyati                 4200  1899000
Buxoro viloyati                 39400  1384700
Fargʻona viloyati                6800  2597000
Jizzax viloyati                 20500   910500
Xorazm viloyati                  6300  1200000
Namangan viloyati                7900  1862000
Navoiy viloyati                110800   767500
Qashqadaryo viloyati            28400  2029000
Qoraqalpogʻiston Respublikasi  160000  1200000
Samarqand viloyati              16400  2322000
Sirdaryo viloyati                5100   648100
Surxondaryo viloyati            20800  1676000
Toshkent viloyati               15300  4450000

In [64]:
pd.read_csv('praktikum_datasets/automobile_data.csv', index_col='index', nrows=15)

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450
5,audi,sedan,99.8,177.3,ohc,five,110,19,15250
6,audi,wagon,105.8,192.7,ohc,five,110,19,18920
9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430
10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925
11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970
13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760
14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315
15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880
16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151
17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295

fayilga yozish

In [65]:
uzaholi = pd.read_excel("praktikum_datasets/uzbekistan.xlsx", index_col=0) # names = ['hudud', 'kvv*', 'aholi'])
uzaholi

                               Maydoni (kv.km)  Aholisi
Boʻlinishi
Andijon viloyati                          4200  1899000
Buxoro viloyati                          39400  1384700
Fargʻona viloyati                         6800  2597000
Jizzax viloyati                          20500   910500
Xorazm viloyati                           6300  1200000
Namangan viloyati                         7900  1862000
Navoiy viloyati                         110800   767500
Qashqadaryo viloyati                     28400  2029000
Qoraqalpogʻiston Respublikasi           160000  1200000
Samarqand viloyati                       16400  2322000
Sirdaryo viloyati                         5100   648100
Surxondaryo viloyati                     20800  1676000
Toshkent viloyati                        15300  4450000

In [66]:
uzaholi.to_csv('uz_aholi.csv')

In [67]:
obj = uzaholi.Aholisi
obj

Boʻlinishi
Andijon viloyati                 1899000
Buxoro viloyati                  1384700
Fargʻona viloyati                2597000
Jizzax viloyati                   910500
Xorazm viloyati                  1200000
Namangan viloyati                1862000
Navoiy viloyati                   767500
Qashqadaryo viloyati             2029000
Qoraqalpogʻiston Respublikasi    1200000
Samarqand viloyati               2322000
Sirdaryo viloyati                 648100
Surxondaryo viloyati             1676000
Toshkent viloyati                4450000
Name: Aholisi, dtype: int64

In [68]:
obj.to_csv('uz_aholisi.csv')

In [69]:
ter = pd.read_csv('uz_aholisi.csv', index_col=0)
ret_squezze= ter.squeeze()
ret_squezze

Boʻlinishi
Andijon viloyati                 1899000
Buxoro viloyati                  1384700
Fargʻona viloyati                2597000
Jizzax viloyati                   910500
Xorazm viloyati                  1200000
Namangan viloyati                1862000
Navoiy viloyati                   767500
Qashqadaryo viloyati             2029000
Qoraqalpogʻiston Respublikasi    1200000
Samarqand viloyati               2322000
Sirdaryo viloyati                 648100
Surxondaryo viloyati             1676000
Toshkent viloyati                4450000
Name: Aholisi, dtype: int64

In [70]:
df2 = pd.read_csv('praktikum_datasets/automobile_data.csv', index_col='index', nrows=15)
df2

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450
5,audi,sedan,99.8,177.3,ohc,five,110,19,15250
6,audi,wagon,105.8,192.7,ohc,five,110,19,18920
9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430
10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925
11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970
13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760
14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315
15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880
16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151
17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295

In [71]:
df2.to_excel('drive/MyDrive/new_automobile.xlsx', index=False, columns = ['company', 'body-style', 'price'])

In [72]:
saaq = pd.read_excel('drive/MyDrive/new_automobile.xlsx')
saaq

        company   body-style  price
0   alfa-romero  convertible  13495
1   alfa-romero  convertible  16500
2   alfa-romero    hatchback  16500
3          audi        sedan  13950
4          audi        sedan  17450
5          audi        sedan  15250
6          audi        wagon  18920
7           bmw        sedan  16430
8           bmw        sedan  16925
9           bmw        sedan  20970
10          bmw        sedan  30760
11          bmw        sedan  41315
12          bmw        sedan  36880
13    chevrolet    hatchback   5151
14    chevrolet    hatchback   6295

hdf5 formati

In [73]:
hdfobj= pd.HDFStore('data.h5')

In [74]:
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0

In [75]:
df2.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450

In [76]:
hdfobj.put('uzbekdata', df)

In [77]:
hdfobj.put('uzbekcars', df2)

In [78]:
hdfobj.keys()

['/uzbekcars', '/uzbekdata']

In [79]:
hdfobj['uzbekcars'].tail(10)

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
5,audi,sedan,99.8,177.3,ohc,five,110,19,15250
6,audi,wagon,105.8,192.7,ohc,five,110,19,18920
9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430
10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925
11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970
13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760
14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315
15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880
16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151
17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295