<a href="https://colab.research.google.com/github/shoxruxmamitov/fayllar-va-malumotlar-ombor/blob/main/Json_va_Apidan_oqish.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import requests

url = "https://en.wikipedia.org/wiki/Tashkent"
headers = {"User-Agent": "Mozilla/5.0"}

html = requests.get(url, headers=headers).text
Tashkent = pd.read_html(html)

df = Tashkent[0]

/tmp/ipython-input-4111711208.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  Tashkent = pd.read_html(html)

In [3]:
len(Tashkent)

17

In [4]:
Tashkent[0].tail()

   Tashkent  Toshkent / Тошкент  Tashkent  Toshkent / Тошкент.1
40                Official name      Western Tien-Shan Mountain
41                     Criteria                        Natural:
42                    Reference                            1490
43                  Inscription             2016 (40th Session)
44                         Area  528,177.6 ha (1,305,155 acres)

In [5]:
Tashkent[16]

,Authority control databases,Authority control databases.1
0,International,VIAFGNDFASTWorldCat
1,National,United StatesFranceBnF dataCzech RepublicSpain...
2,Geographic,MusicBrainz area
3,Other,IdRefNARAİslâm AnsiklopedisiYale LUX

In [17]:
Tashkent[12]

,Central Asia,South Asia,Southeast Asia,West Asia,West Asia.1
0,"Ashgabat, Turkmenistan Astana, Kazakhstan Bish...","Camp Thunder Cove, BIOT (UK) * Dhaka, Banglade...","Bandar Seri Begawan, Brunei Bangkok, Thailand ...","Abu Dhabi, United Arab Emirates Amman, Jordan ...","Muscat, Oman Nicosia, Cyprus North Nicosia, No..."

Json