<a href="https://colab.research.google.com/github/shoxruxmamitov/fayllar-va-malumotlar-ombor/blob/main/SQL_jadval_dataframe_ga_otqizish.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import sqlite3 as sql
# pandas va sqlite3 kutubxonasini chaqirib oldik

In [9]:
db = sql.connect('newdb.db')
cursor = db.cursor()
# newdb bosh ombori hosil qilib oldik

In [25]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/refs/heads/main/Electricity_Production_By_Source.csv')
df# database ni kirgizib oldik

,Entity,Code,Year,Electricity from coal (TWh),Electricity from gas (TWh),Electricity from hydro (TWh),Electricity from other renewables (TWh),Electricity from solar (TWh),Electricity from oil (TWh),Electricity from wind (TWh),Electricity from nuclear (TWh)
0,Afghanistan,AFG,2000,0.000000,0.155,0.312,0.000000,0.000,0.0,0.0,0.0
1,Afghanistan,AFG,2001,0.000000,0.094,0.498,0.000000,0.000,0.0,0.0,0.0
2,Afghanistan,AFG,2002,0.000000,0.132,0.555,0.000000,0.000,0.0,0.0,0.0
3,Afghanistan,AFG,2003,0.000000,0.309,0.630,0.000000,0.000,0.0,0.0,0.0
4,Afghanistan,AFG,2004,0.000000,0.329,0.565,0.000000,0.000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
6236,Zimbabwe,ZWE,2015,4.311780,0.000,4.940,0.128000,0.008,0.0,0.0,0.0
6237,Zimbabwe,ZWE,2016,3.714880,0.000,2.955,0.147000,0.009,0.0,0.0,0.0
6238,Zimbabwe,ZWE,2017,3.218560,0.000,3.929,0.151000,0.011,0.0,0.0,0.0
6239,Zimbabwe,ZWE,2018,3.932020,0.000,5.000,0.187000,0.014,0.0,0.0,0.0
6240,Zimbabwe,ZWE,2019,3.805433,0.000,5.020,0.206667,0.014,0.0,0.0,0.0

In [29]:
cols = ['strana', 'code', 'ear', 'coal', 'gas', 'hdro', 'renewable', 'solar', 'oil', 'wind', 'nuclear']
df.columns = cols
df.head()
# usutnlar nomini ozimizga qula qilib almashtirib oldik va columns orqali qoshib oldik

,strana,code,ear,coal,gas,hdro,renewable,solar,oil,wind,nuclear
index,,,,,,,,,,,
6221,Zimbabwe,ZWE,2000,3.511,0.0,3.227,0.0,0.0,0.0,0.0,0.0
6222,Zimbabwe,ZWE,2001,4.614,0.0,2.968,0.0,0.0,0.0,0.0,0.0
6223,Zimbabwe,ZWE,2002,4.477,0.0,3.786,0.0,0.0,0.0,0.0,0.0
6224,Zimbabwe,ZWE,2003,3.234,0.0,5.305,0.0,0.0,0.0,0.0,0.0
6225,Zimbabwe,ZWE,2004,3.945,0.0,5.466,0.0,0.0,0.0,0.0,0.0

In [13]:
df.to_sql('elecit', db)
#tepadagi databasega 'elect' nomli db qoshib oldik

6241

In [14]:
cursor.execute('select name from sqlite_master where type="table"')
cursor.fetchall()
# data baseni ichida borligini tekshirib oldik

[('elect',), ('elecit',)]

In [16]:
cursor.execute('pragma table_info(elecit);')
cursor.fetchall()
# elecit nomli databaseni ichida qanaqa ustun borligi ni tekshirib oldik va qasi turligni ham

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'countri', 'TEXT', 0, None, 0),
 (2, 'code', 'TEXT', 0, None, 0),
 (3, 'ear', 'INTEGER', 0, None, 0),
 (4, 'coal', 'REAL', 0, None, 0),
 (5, 'gas', 'REAL', 0, None, 0),
 (6, 'hdro', 'REAL', 0, None, 0),
 (7, 'renewable', 'REAL', 0, None, 0),
 (8, 'solar', 'REAL', 0, None, 0),
 (9, 'oil', 'REAL', 0, None, 0),
 (10, 'wind', 'REAL', 0, None, 0),
 (11, 'nuclear', 'REAL', 0, None, 0)]

In [26]:
queri = 'select * from elecit where countri = "Zimbabwe"'
df = pd.read_sql(queri, db, index_col = 'index')
df
# elecit databazeni ichidan uzbekistonga tegishli bolgan malumotlarni chiqarib oldik va qator sifatida index ni belgilab oldik

,countri,code,ear,coal,gas,hdro,renewable,solar,oil,wind,nuclear
index,,,,,,,,,,,
6221,Zimbabwe,ZWE,2000,3.511000,0.0,3.227,0.000000,0.0000,0.0,0.0,0.0
6222,Zimbabwe,ZWE,2001,4.614000,0.0,2.968,0.000000,0.0000,0.0,0.0,0.0
6223,Zimbabwe,ZWE,2002,4.477000,0.0,3.786,0.000000,0.0000,0.0,0.0,0.0
6224,Zimbabwe,ZWE,2003,3.234000,0.0,5.305,0.000000,0.0000,0.0,0.0,0.0
6225,Zimbabwe,ZWE,2004,3.945000,0.0,5.466,0.000000,0.0000,0.0,0.0,0.0
6226,Zimbabwe,ZWE,2005,4.169000,0.0,4.866,0.000000,0.0000,0.0,0.0,0.0
6227,Zimbabwe,ZWE,2006,2.320000,0.0,5.257,0.000000,0.0000,0.0,0.0,0.0
6228,Zimbabwe,ZWE,2007,1.958000,0.0,5.329,0.000000,0.0000,0.0,0.0,0.0
6229,Zimbabwe,ZWE,2008,1.657000,0.0,5.651,0.079000,0.0000,0.0,0.0,0.0
6230,Zimbabwe,ZWE,2009,1.652000,0.0,5.403,0.057000,0.0000,0.0,0.0,0.0
6231,Zimbabwe,ZWE,2010,2.605680,0.0,5.741,0.094000,0.0000,0.0,0.0,0.0
6232,Zimbabwe,ZWE,2011,3.648140,0.0,5.149,0.131000,0.0004,0.0,0.0,0.0
6233,Zimbabwe,ZWE,2012,3.423480,0.0,5.336,0.168000,0.0020,0.0,0.0,0.0
6234,Zimbabwe,ZWE,2013,4.140700,0.0,4.946,0.166000,0.0030,0.0,0.0,0.0
6235,Zimbabwe,ZWE,2014,4.181120,0.0,5.377,0.144000,0.0050,0.0,0.0,0.0
6236,Zimbabwe,ZWE,2015,4.311780,0.0,4.940,0.128000,0.0080,0.0,0.0,0.0
6237,Zimbabwe,ZWE,2016,3.714880,0.0,2.955,0.147000,0.0090,0.0,0.0,0.0
6238,Zimbabwe,ZWE,2017,3.218560,0.0,3.929,0.151000,0.0110,0.0,0.0,0.0
6239,Zimbabwe,ZWE,2018,3.932020,0.0,5.000,0.187000,0.0140,0.0,0.0,0.0
6240,Zimbabwe,ZWE,2019,3.805433,0.0,5.020,0.206667,0.0140,0.0,0.0,0.0

In [31]:
queri = """
create table if not exists worldpop(
  rank int,
  countri text primary key,
  densit double,
  population double not null,
  area int not null
)
"""
cursor.execute(queri)
db.commit()
# worldpop nomli jadval hosil qilib oldik va cursor.execute qilib qoshib oldik va db.commit qilob ozgarishlarni saqlab oldik

In [38]:
cursor.execute("select name from sqlite_master where type = 'table';")
cursor.fetchall()# databazeni ichidan mavjud bolgan tablelarni chiqarib oldik

[('elect',), ('elecit',), ('worldpop',)]

In [39]:
cursor.execute("pragma table_info(worldpop);")
cursor.fetchall()
# worldpop malumotlarni chiqarib oldik

[(0, 'rank', 'INT', 0, None, 0),
 (1, 'countri', 'TEXT', 0, None, 1),
 (2, 'densit', 'double', 0, None, 0),
 (3, 'population', 'double', 1, None, 0),
 (4, 'area', 'INT', 1, None, 0)]

worldpop databasega qimatlarni qoshib chiqamiz

In [37]:
queri = 'insert into worldpop values(2, "antalus", 2356.7677, 8123.112, 55)'
cursor.execute(queri)
db.commit()

In [41]:
cursor.execute('select * from worldpop')
cursor.fetchall()
# worldpop ichidagi qimatlarini chiqarib oldik

[(1, 'macau', 2165.9812, 781.8012, 30),
 (2, 'antalus', 2356.7677, 8123.112, 55)]

worldpop databazega qimatlatni qoshishda ozimiz hoxlagan ustunlarga qoshib chiqdik

In [42]:
queri = 'insert into worldpop (countri, population, area) values ("Uzbekiston", 123.1233, 677.789)'
cursor.execute(queri)
cursor.fetchall()

[]

In [43]:
db.commit()

In [45]:
pd.read_sql('select * from worldpop', db)
# qoshib chiqqan qimatlarni dataframe korinishida chiqarib oldik 'db' qilib

   rank     countri     densit  population     area
0   1.0       macau  2165.9812    781.8012   30.000
1   2.0     antalus  2356.7677   8123.1120   55.000
2   NaN  Uzbekiston        NaN    123.1233  677.789

sql jadvalni yangilash va ochirish

In [46]:
queri = 'update worldpop set rank = 3.0, densit = 3212.9865, area = 70 where countri = "Uzbekiston"'
cursor.execute(queri)
db.commit()
# qolib ketgan NAN qimatlarni toldirib chiqdik

In [48]:
pd.read_sql('select * from worldpop', db, index_col = 'rank')
# worldpop databaseni dataframe korinishida chaqirib oldik

         countri     densit  population  area
rank
1          macau  2165.9812    781.8012    30
2        antalus  2356.7677   8123.1120    55
3     Uzbekiston  3212.9865    123.1233    70

worldpop databazeni ichidan macau qimatini ochirib tashlimiz

In [49]:
queri = 'delete from worldpop where countri = "macau"'
cursor.execute(queri)
db.commit()

In [50]:
pd.read_sql('select * from worldpop', db, index_col = 'rank')

         countri     densit  population  area
rank
2        antalus  2356.7677   8123.1120    55
3     Uzbekiston  3212.9865    123.1233    70

In [51]:
cursor.execute('drop table elect')
db.commit()
# elect nomli databazeni ochirib tashladik

In [53]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/refs/heads/main/world_population.csv')
df.head()
# github dan world population nomli databazeni chaqirib oldik

   rank    country     density   densityMi   pop2021  area
0     1      Macau  21946.4667  56841.3487   658.394    30
1     2     Monaco  19755.5000  51166.7450    39.511     2
2     3  Singapore   8305.1915  21510.4461  5896.686   710
3     4  Hong Kong   6841.3134  17719.0017  7552.810  1104
4     5  Gibraltar   5616.3333  14546.3033    33.698     6

In [55]:
terik = """
create table if not exists korlik(
  rank int,
  countri text primary key,
  densit double,
  population double not null,
  area int not null
);
"""
cursor.execute(terik)
db.commit()
# korlik nomli data hosil qilib oldik

In [57]:
uz = df[df.country == 'Uzbekistan']
uz
# df jadvaldan uzbekistanga tegishli bolgan malmotlarni chiqarib oldik

     rank     country  density  densityMi    pop2021    area
132   133  Uzbekistan  75.8511   196.4542  33935.763  447400

In [59]:
rank = uz.index.values[0]
country = uz.at[rank,'country']
density	= uz.at[rank, 'density']
population = uz.at[rank, 'pop2021']
area = uz.at[rank, 'area']
print(f'{rank}, {country}, {density}, {population}, {area}')
# malumotlarni alohida massiv qilib chiqarib oldik

132, Uzbekistan, 75.8511, 33935.763, 447400

In [60]:
cueer = f"""
insert into korlik values({rank}, '{country}', {density}, {population}, {area})
"""
cursor.execute(cueer)
db.commit()
# korlik databazega shu malumlarni kirgizb qodik

In [64]:
cursor.execute('select * from korlik')
cursor.fetchall()
#korlik databazeni malumotlarni ciqarib oldik

[(132, 'Uzbekistan', 75.8511, 33935.763, 447400)]

In [65]:
db.close()
# db nomli omborni yopib oldik