<a href="https://colab.research.google.com/github/shoxruxmamitov/fayllar-va-malumotlar-ombor/blob/main/SQLITE3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SQLITE3 omboriga ulash

In [ ]:
import pandas as pd # Pandas kutubxonasini chaqirib oldik

In [ ]:
import numpy as np
import sqlite3 as sql
from pprint import pprint as print
# nump va sqlite3 ni chaqirib oldik

In [ ]:
! wget https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip
# chinook.zip failini ! wget orqali google drive kirgizib oldik

In [ ]:
!unzip chinook.zip
# drive ga chinook.zip dev kirigizdik

Archive:  chinook.zip
replace chinook.db? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [ ]:
db = sql.connect('chinook.db')
# chinook database ni dataframe qilib drive ga kirigizib oldik

In [ ]:
cursor = db.cursor()
# cursor qilib nonlab oldik

In [ ]:
cursor.execute('SELECT name FROM sqlite_master WHERE type="table";')
cursor.fetchall()
# execute va funksialr orqali chinook zip ni ichidagi databaselarni korib oldik

In [ ]:
cursor.execute('select count (*) from customers' )
cursor.fetchall()
# customers databaseni qimatlarini korib oldik

In [ ]:
cursor.execute('pragma table_info(customers)')
cursor.fetchall()
#table_info funksiasi bilan varchar , int, date vaha.kazo larni tekshrib oldik

In [ ]:
cursor.execute('select * from customers')
mijozlar = cursor.fetchall()
mijozlar
# malumotlarni korib oldik ln dataframe korinishida emasligi uchub bizga noqula lik keltiradi

databaseni dataframe korinishiga otkizish

In [ ]:
data = pd.read_sql('select * from customers LIMIT 3', db, index_col = 'CustomerId')
data
#pandas chaqirib sql ni kirgizdik va customers databaseni 3 tagacha bolgan qatorni korsatishi va index siftida CustomerId Van fodalanishlikni sorab oldik

In [ ]:
data = pd.read_sql('SELECT CustomerId, FirstName, LastName, State, Country FROM customers LIMIT 10', db, index_col='CustomerId')
data
# bu erda ham ozimizga kk li bolgan ustunlarni belgilab 10 taga cha bolgan qatorni chiqarishini va index sifatida CustomerId ni chiqarib olishini soradik

order by qilib alifbo boshian tartiblash

In [ ]:
komanda = 'SELECT CustomerId, FirstName, LastName, State, Country FROM customers order by FirstName'
data = pd.read_sql(komanda, db, index_col='CustomerId')
data
# komanda ozgaruvchi hosil qildik va ozimiga kk bolgan ustuni belgiladik va customers vatabaseni ichidan order bi orqali FirstName ustunini alifbo tatribida chiqarishini sorab oldik
# ava data ozgaruvchi hosil qildik komanda ni kirigizib tepada hosil qilib olgan db ni kirgizib oldik

In [ ]:
komanda1 = 'SELECT CustomerId, FirstName, LastName, State, Country FROM customers order by Country LIMIT 15'
data = pd.read_sql(komanda1, db, index_col='CustomerId')
data
#ozimizga kk bolgan ustubnni belgilab customers databasedan Countr jadvalini alofbo korinishiv tartiblashni buirdik
# data ozgaruvchi hosil qilib komanda1 ni kirgizib db kirigib ham oldik

distinct funksiasi

In [ ]:
saralash = 'select distinct Country from customers'
cursor.execute(saralash)
cursor.fetchall()
# distinct vazifasi masalan jadvalda 10 bir xil ism bolsa faqat botasini olib chiqadi a bizda esa shundan 27 ta bor ekan

In [ ]:
saralashbek = 'select distinct FirstName from customers order by FirstName'
cursor.execute(saralashbek)
cursor.fetchall()
# FirsName ism boicha distinct qilib oldik

Filtrlash

In [ ]:
filtrlash = 'select * from customers where Country = "Brazil" OR Country="USA"'
query = pd.read_sql(filtrlash, db, index_col='CustomerId')
query
#customers databasedan Countr Utunivan Brazil qimatini va usa ni wimatini chiqarishni buirdik

In [ ]:
filtrlash1 = 'select CustomerId, LastName, FirstName, State, Country FROM customers WHERE Country = "Brazil" OR Country = "USA" order by Country'
query1 = pd.read_sql(filtrlash1, db, index_col='CustomerId')
query1
# filtrlash1 qilib ozimizga kk bolgan ustunlarni belgilab va countr = qilib brazil OR USA davlatini alifbo boixha tartiblashni buirdik

In [ ]:
bek = 'select * from customers WHERE Country = "USA" and State = "CA"'
qirrabek  = pd.read_sql(bek, db, index_col='CustomerId')
qirrabek
#  customers databasedan usa davlati va State ustunidan CA qimatini chiqarib oldik

In [ ]:
qitmirbek = 'select CustomerId, LastName, FirstName, State, Country FROM customers WHERE Country = "USA" and State = "NV"'
skilet = pd.read_sql(qitmirbek, db, index_col='CustomerId')
skilet
#ozimizga jk bolgan ustuni belgilab customers databasedan USA va NV qimatlarni chiqarishni buridik
#skilet ozgaruvchiga qitmkirbek ozgruchini ichiga soldik